body {
  margin-left: 40px;
  font-family: Verdana,  sans-serif;
  font-size: 12pt;
  background: url(background.jpg) repeat-x;
  background-color: white;
  color: #36465D;
}

p {
  text-align: left;
}

ul {
  margin-left: 10px;
}
